body {
	background-color: white;
	color: #009933;
}

#info {
	display: none;
}

#title, #title canvas {
  --width: 450px;
  --height: 160px;
  width: 50%;
  height: auto;
  margin: auto;
}

#title canvas {
	left: 0px;
	right: 0px;
}

#content {
	color: #d30c7b;
	--font: message-box;
	font-family: Calibri;
	margin: 50px;
}