body {
	background-color: black;
	color: white;
}

#info {
	display: none;
}

#title_bg canvas {
	position: fixed;
    top: 0em;
    z-index: -1;
}

#title_bg div {
  display: none;
}

#page {
	--color: #d30c7b;
	--font: message-box;
	position: absolute;
	top: 2em;
	color: grey;
	font-family: Calibri;
	margin: 4em;
}

#page #title {
	text-align: center;
	font-size: 3em;
	background-color: grey;
	color: red;
	opacity: 0.75;
}

#page #content {
	padding-top: 3em;
}