body {
	background-color: black;
	color: #009933;
}

#info {
	display: none;
}

#title, #title canvas {
  width: 450px;
  height: 160px;
  margin: auto;
}

#title canvas {
	left: 0px;
	right: 0px;
}

#content {
	color: #d30c7b;
	margin-top: 50px;
}